body {
background-image: url("table.jpg");
font-family: Copyduck;}

:root {
  --non-photo-blue: #a3e7fc;
  --emerald: #26c485;
  --dark-cyan: #32908f;
  --metallic-gold: #dbb957;
  --african-violet: #b47eb3;
  --off-white: #fefff6;
}


.book {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--off-white);
  width: 97%;
  height: 95%;
}
#cover {
  width: 45%;
  height: 95%;
  color: var(--off-white);
}
.flip-book {
  width: 45%;
  height: 95%;
  position: relative;
  perspective: 1500px;
}
.flip {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: .5s;
  color: #050;
}
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #def;
  box-sizing: border-box;
  padding: 0 0px;
}
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background-color: #000;
}
.next-btn {
  position: absolute;
  z-index: 50;
  bottom: 13px;
  right: 13px;
  cursor: pointer;
  color: #000;
}
.back-btn {
  position: absolute;
  bottom: 13px;
  right: 13px;
  cursor: pointer;
  color: #fff;
}
#p1 {
  z-index: 3;
}
#p2 {
  z-index: 2;
}
#p3 {
  z-index: 1;
}

input[type="checkbox"] {
  appearance: none;
}

#c1:checked ~ .flip-book #p1 {
  transform: rotateY(-180deg);
  z-index: 30;
}
#c2:checked ~ .flip-book #p2 {
  transform: rotateY(-180deg);
  z-index: 40;
}
#c3:checked ~ .flip-book #p3 {
  transform: rotateY(-180deg);
  z-index: 50;
}
#cov1
{
   position: absolute;
   z-index: 10;
}
#cov2
{
    position: absolute;
    top: 25%;
    left: 0%;
    z-index: 20;
}
#cov3
{
   position: absolute;
   top: 5%;
   left: 4%;
   z-index: 30;
}
#cov4
{
    position: absolute;
    top: 78%;
    left: 4%;
    z-index: 40;
}
#cov5
{
    position: absolute;
    top: 93%;
    left: 3%;
    z-index: 50;
}
#cov6
{
    position: absolute;
    top: 95%;
    left: 2%;
    z-index: 60;
}